{% extends 'base.html.twig' %}

{% block title %}Evènement | {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <h2>{{ event.name }}</h2>
        <h3>{{ event.round.name }}</h3>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_see_planning_meets', {"idEvent": event.id}) }}">
                <button class="btn btn-secondary">Voir rencontres</button>
            </a>
        {% else %}
            <a href="{{ path('event_voir_rencontres', {"idEvent": event.id}) }}">
                <button class="btn btn-secondary">Voir rencontres</button>
            </a>
        {% endif %}
        {% if event.poule %}

            <button class="btn btn-secondary"
                    onclick="window.location='{{ path('event_creation_classement', {"idEvent": event.id}) }}'">
                Voir classement des poules
            </button>

        {% elseif event.phaseIn is same as (1) %}

            <button class="btn btn-secondary"
                    onclick="window.location='{{ path('event_creation_classement', {"idEvent": event.id}) }}'">
                Voir classement
            </button>
        {% endif %}
        {% if event.round.name is same as ('Poule de classement') %}

            <button class="btn btn-secondary"
                    onclick="window.location='{{ path('event_creation_classement', {"idEvent": event.id}) }}'">Voir
                classement
            </button>
        {% endif %}
        {% if event.type.name is same as ("Tournoi par équipes") %}
            <table class="table mb-0 mt-4">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">Pays</th>
                    {% if is_granted("ROLE_ADMIN") %}
                        <th scope="col">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% set i = 1 %}
                {% for participant  in participants %}

                    <tr>
                        <th scope="row">{{ i }}</th>
                        <td>{{ participant.teamName }} </td>
                        <td>{{ participant.companyName }} </td>
                        <td>{{ participant.countryName }} </td>

                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ path('admin_delete_participation_event', {'idEvent': event.id, 'idParticipation': participant.participantId}) }}">
                                    <button class="btn btn-secondary">Désinscrire</button>
                                </a>
                            </td>
                        {% endif %}

                    </tr>
                    {% set i = i+1 %}
                {% endfor %}
                </tbody>
            </table>
        {% elseif event.type.name is same as ('Tournoi individuel') %}
            <table class="table mb-0 mt-4">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom et prénom</th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">Pays</th>
                    {% if is_granted("ROLE_ADMIN") %}
                        <th scope="col">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% set i = 1 %}
                {% for participant  in participants %}

                    <tr>
                        <th scope="row">{{ i }}</th>
                        <td>{{ participant.athletName }} {{ participant.athletFirstname }}</td>
                        <td>{{ participant.athletCompany }} </td>
                        <td>{{ participant.athletCountry }} </td>

                        {% if is_granted("ROLE_ADMIN") %}
                            <td>
                                <a href="{{ path('admin_delete_participation_event', {'idEvent': event.id, 'idParticipation': participant.participantId}) }}">
                                    <button class="btn btn-secondary">Désinscrire</button>
                                </a>
                            </td>
                        {% endif %}

                    </tr>
                    {% set i = i+1 %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <button class="btn btn-secondary" onclick="window.location='{{ path('main') }}'">Retour</button>
    </div>


{% endblock %}