{% extends 'base.html.twig' %}

{% block title %}Athlètes | {{ parent() }}{% endblock %}
{% block body %}
<table class="table mb-0 mt-4">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nom & prénom</th>
        <th scope="col">Date de naissance</th>
        <th scope="col">Réference</th>
        <th scope="col">Entreprise</th>
        <th scope="col">France</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% set i = 1 %}
    {% for athlet  in athlets %}

        <tr>
            <th scope="row">{{ i }}</th>
            <td>{{ athlet.name }} {{ athlet.firstname }}</td>
            <td>{{ athlet.dateBirth|date("d/m/Y") }}</td>
            <td>{{ athlet.reference }}</td>
            <td>{{ athlet.company.name }}</td>
            <td>{{ athlet.company.country }}</td>

            <td>
                <button>
                    <a href="{{ path('admin_edit_athlet', {"id": athlet.id}) }}">Modifier</a>
                </button>
                <button>
                    <a href="{{ path('admin_delete_athlet', {"id": athlet.id}) }}">Supprimer</a>
                </button>
            </td>
        </tr>
        {% set i = i+1 %}
    {% endfor %}
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="{{ path('admin_home') }}">Retour</a>
</div>

{% endblock %}