{% extends 'base.html.twig' %}

{% block title %}Categories !{% endblock %}
{% block body %}
<table class="table mb-0 mt-4">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% set i = 1 %}
    {% for category  in categories %}

        <tr>
            <th scope="row">{{ i }}</th>
            <td>{{ category.name }}</td>
            <td>
                <button>
                    <a href="{{ path('admin_edit_category', {'id': category.id}) }}">Edit</a>
                </button>
                <button>
                    <a href="{{path('admin_delete_category', {'id': category.id}) }}">Delete</a>
                </button>
            </td>
        </tr>
        {% set i = i+1 %}
    {% endfor %}
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="{{ path('admin_home') }}">Back</a>
</div>

{% endblock %}