{% extends 'base.html.twig' %}

{% block title %}Compétitions | {{ parent() }}{% endblock %}
{% block body %}
<table class="table mb-0 mt-4">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Lieu</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% set i = 1 %}
    {% for competition  in competitions %}

        <tr>
            <th scope="row">{{ i }}</th>
            <td>{{ competition.name }}</td>
            <td>{{ competition.startDate|date("d/m/Y") }}</td>
            <td>{{ competition.endDate|date("d/m/Y") }}</td>
            <td>{{ competition.place }}</td>
            <td>
                <button>
                    <a href="{{ path('admin_edit_competition', {"id": competition.id}) }}">Modifier</a>
                </button>
                <button>
                    <a href="{{ path('admin_delete_competition', {"id": competition.id}) }}">Supprimer</a>
                </button>
            </td>
        </tr>
        {% set i = i+1 %}
    {% endfor %}
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="{{ path('admin_home') }}">Retour</a>
</div>

{% endblock %}