{% extends 'base.html.twig' %}

{% block title %}Evènements | {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <form class="form-inline mt-4 row justify-content-center" action="">
            {% if criteria.search != '' %}
                <input type="text" name="search" id="search" class="mr-3 form-control" placeholder="Recherche"
                       value="{{ criteria.search }}">{% else %}
                <input type="text" name="search" id="search" class="mr-3 form-control" placeholder="Recherche">
            {% endif %}

            <select name="competition" class="custom-select custom-select-md mr-3">
                {% if criteria.competition == null %}
                    <option value="All" selected>Toutes les compétitions</option>
                {% else %}
                    <option value="All">Toutes les compétitions</option>
                {% endif %}
                {% for competition in competitions %}
                    {% if criteria.competition != null and criteria.competition.id == competition.id %}
                        <option value="{{ competition.id }}" selected>{{ competition.name }}</option>
                    {% else %}
                        <option value="{{ competition.id }}">{{ competition.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <select name="discipline" class="custom-select custom-select-md mr-3">
                {% if criteria.discipline == null %}
                    <option value="All" selected>Toutes les Disciplines</option>
                {% else %}
                    <option value="All">Toutes les Disciplines</option>
                {% endif %}
                {% for discipline in disciplines %}
                    {% if criteria.discipline != null and criteria.discipline.id == discipline.id %}
                        <option value="{{ discipline.id }}" selected>{{ discipline.name }}</option>
                    {% else %}
                        <option value="{{ discipline.id }}">{{ discipline.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <select name="gender" class="custom-select custom-select-md mr-3" id="gender">
                {% if criteria.gender == "" %}
                    <option value="All" selected>Tous les genres</option>
                    <option value="Femme">Femme</option>
                    <option value="Homme">Homme</option>
                    <option value="Mixte">Mixte</option>
                    {% else %}
                        <option value="All">Tous les genres</option>
                        <option value="Femme">Femme</option>
                        <option value="Homme">Homme</option>
                        <option value="Mixte">Mixte</option>
                {% endif %}
            </select>

            <select name="category" class="custom-select custom-select-md mr-3">
                {% if criteria.category == null %}
                    <option value="All" selected>Toutes les Catégories</option>
                {% else %}
                    <option value="All">Toutes les Catégories</option>
                {% endif %}
                {% for category in categories %}
                    {% if criteria.category != null and criteria.category.id == category.id %}
                        <option value="{{ category.id }}" selected>{{ category.name }}</option>
                    {% else %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <select name="type" class="custom-select custom-select-md mr-3">
                {% if criteria.type == null %}
                    <option value="All" selected>Tous les Types</option>
                {% else %}
                    <option value="All">Tous les Types</option>
                {% endif %}
                {% for type in types %}
                    {% if criteria.type != null and criteria.type.id == type.id %}
                        <option value="{{ type.id }}" selected>{{ type.name }}</option>
                    {% else %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <select name="round" class="custom-select custom-select-md mr-3">
                {% if criteria.round == null %}
                    <option value="All" selected>Tous les Tours</option>
                {% else %}
                    <option value="All">Tous les Tours</option>
                {% endif %}
                {% for round in rounds %}
                    {% if criteria.round != null and criteria.round.id == round.id %}
                        <option value="{{ round.id }}" selected>{{ round.name }}</option>
                    {% else %}
                        <option value="{{ round.id }}">{{ round.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <div>
                <button class="btn btn-secondary pull-right" type="submit">Rechercher</button>
            </div>
        </form>
        <table class="table table-striped table-dark mb-4 mt-4">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Discipline</th>
                <th scope="col">Nom</th>
                <th scope="col">Tour</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Type</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% set i = 1 %}
            {% for event  in eventsFiltered %}
                <tr onclick="window.location='{{ path('admin_edit_event', {"id": event.eventId}) }}'">
                    <th scope="row">{{ i }}</th>
                    <td>{{ event.disciplineName }}</td>
                    <td>{{ event.eventName }}</td>
                    <td>{{ event.roundName }}</td>
                    <td>{{ event.categoryName }}</td>
                    <td>{{ event.typeName }}</td>
                    <td>
                        {% if event.published %}
                    <a href=" {{ path('event_classement_general',{"idEvent": event.eventId})}}"><button class="btn btn-light btn-sm">Classement Final</button></a>
                    {% endif %}
                        <a href="{{ path('admin_delete_event', {"id": event.eventId}) }}">
                            <button class="btn btn-light btn-sm">Supprimer</button>
                        </a>
                    </td>

                </tr>

                {% set i = i+1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <a class="btn btn-primary" href="{{ path('admin_home') }}">Retour</a>
    </div>

{% endblock %}