{% extends 'base.html.twig' %}

{% block title %}Evènements | {{ parent() }}{% endblock %}
{% block body %}
<table class="table mb-0 mt-4">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Discipline</th>
        <th scope="col">Nom</th>
        <th scope="col">Genre</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Type</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% set i = 1 %}
    {% for event  in events %}

        <tr>
            <th scope="row">{{ i }}</th>
            <td>{{ event.discipline.name }}</td>
            <td>{{ event.name }}</td>
            <td>{{ event.gender}}</td>
            <td>{{ event.category.name }}</td>
            <td>{{ event.type.name }}</td>
            <td>
                <button>
                    <a href="{{ path('admin_edit_event', {"id": event.id}) }}">Modifier</a>
                </button>
                <button>
                    <a href="{{ path('admin_delete_event', {"id": event.id}) }}">Supprimer</a>
                </button>
            </td>
        </tr>
        {% set i = i+1 %}
    {% endfor %}
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="{{ path('admin_home') }}">Retour</a>
</div>

{% endblock %}