{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Home</a>
                <a class="nav-link" id="v-pills-add-tab" data-toggle="pill" href="#v-pills-add" role="tab"
                   aria-controls="v-pills-add" aria-selected="false">Add</a>
                <a class="nav-link" id="v-pills-update-tab" data-toggle="pill" href="#v-pills-update" role="tab"
                   aria-controls="v-pills-update" aria-selected="false">See / Update</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                   aria-controls="v-pills-settings" aria-selected="false">Settings</a>
            </div>
        </div>
        <div class="col-9" id="doForm">

            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">Welcome to the back-office to manage !
                </div>
                <div class="tab-pane fade" id="v-pills-add" role="tabpanel" aria-labelledby="v-pills-add-tab">

                    <div class="row">

                        <div class="col-6">

                            <button class="btn btn-light text-light bg-dark bouton " id="discipline">Add a discipline
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton" id="event">Add an event</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton " id="category">Add a category
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton" id="type">Add a type</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton" id="athlet">add athlet</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton " id="company">Add a company</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton " id="team">Add a team</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton" id="user">Add an user</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-update" role="tabpanel" aria-labelledby="v-pills-update-tab">
                    <div class="row">

                        <div class="col-6">

                            <a href="{{ path('admin_discipline') }}"><button class="btn btn-light text-light bg-dark bouton " id="disciplines">Disciplines
                            </button></a>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('admin_events') }}"><button class="btn btn-light text-light bg-dark bouton" id="events">Events</button></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="{{ path('admin_categories') }}"><button class="btn btn-light text-light bg-dark bouton " id="categories">Categories</button></a>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('admin_types') }}"><button class="btn btn-light text-light bg-dark bouton" id="types">Types</button></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="{{ path('admin_athlets') }}"><button class="btn btn-light text-light bg-dark bouton" id="athlets">Athlets</button></a>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('admin_companies') }}"><button class="btn btn-light text-light bg-dark bouton " id="companies">Companies</button></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="{{ path('admin_teams') }}"><button class="btn btn-light text-light bg-dark bouton " id="teams">Teams</button></a>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('admin_users') }}"><button class="btn btn-light text-light bg-dark bouton" id="users">Users</button></a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div id="disciplineForm" class="col-6 form">
                        <h1>Add a Discipline</h1>
                        {{ form_start(disciplineForm) }}
                        {{ form_widget(disciplineForm) }}
                        <button type="submit">Save</button>
                        {{ form_end(disciplineForm) }}
                    </div>
                    <div id="categoryForm" class="col-6 form">
                        <h1>Add a Category</h1>
                        {{ form_start(categoryForm) }}
                        {{ form_widget(categoryForm) }}
                        <button type="submit">Save</button>
                        {{ form_end(categoryForm) }}
                    </div>
                    <div id="typeForm" class="col-6 form">
                        <h1>Add a Type</h1>
                        {{ form_start(typeForm) }}
                        {{ form_widget(typeForm) }}
                        <button type="submit">Save</button>
                        {{ form_end(typeForm) }}
                    </div>
                    <div id="companyForm" class="col-6 form">
                        <h1>Add a Company</h1>
                        {{ form_start(companyForm) }}
                        {{ form_widget(companyForm) }}
                        <button type="submit">Save</button>
                        {{ form_end(companyForm) }}
                    </div>
                    <div id="athletForm" class="col-6 form">
                        <h1>Add an Athlet</h1>
                        {{ form_start(athletForm) }}
                        {{ form_widget(athletForm) }}
                        <button type="submit">Save</button>
                        {{ form_end(athletForm) }}
                    </div>
                    <div id="teamForm" class="col-6 form">
                        <h1>Add a Team</h1>
                        {{ form_start(teamForm) }}
                        {{ form_widget(teamForm) }}
                        <button type="submit">Save</button>
                        {{ form_end(teamForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        var disciplineForm = $('#disciplineForm');
        var categoryForm = $('#categoryForm');
        var typeForm = $('#typeForm');
        var companyForm = $('#companyForm');
        var athletForm = $('#athletForm');
        var teamForm = $('#teamForm');

        $(document).ready(function () {
            $('.form').hide();
            $('#v-pills-profile-tab, #v-pills-home-tab, #v-pills-update-tab').on('click', function () {
                $('.form').hide();
                $('.table').hide();
                $('.bouton').show();
            })
            $('#discipline').on('click', function () {
                showDisciplineForm();
            })
            $('#category').on('click', function () {
                showCategoryForm();
            })
            $('#type').on('click', function () {
                showTypeForm();
            })
            $('#company').on('click', function () {
                showCompanyForm();
            })
            $('#athlet').on('click', function () {
                showAthletForm();
            })
            $('#team').on('click', function () {
                showTeamForm();
            })
        })

        /**
         * functions show differents forms
         */
        function showDisciplineForm() {
            $('.bouton').hide();
            $('#doForm').append(disciplineForm.show());
        }

        function showCategoryForm() {
            $('.bouton').hide();
            $('#doForm').append(categoryForm.show());
        }

        function showTypeForm() {
            $('.bouton').hide();
            $('#doForm').append(typeForm.show());
        }

        function showCompanyForm() {
            $('.bouton').hide();
            $('#doForm').append(companyForm.show());
        }

        function showAthletForm() {
            $('.bouton').hide();
            $('#doForm').append(athletForm.show());
        }

        function showTeamForm() {
            $('.bouton').hide();
            $('#doForm').append(teamForm.show());
        }

    </script>
{% endblock %}