{% extends 'base.html.twig' %}

{% block title %}Accueil Admin | {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Accueil</a>
                <a class="nav-link" id="v-pills-add-tab" data-toggle="pill" href="#v-pills-add" role="tab"
                   aria-controls="v-pills-add" aria-selected="false">Ajouter</a>
                <a class="nav-link" id="v-pills-update-tab" data-toggle="pill" href="#v-pills-update" role="tab"
                   aria-controls="v-pills-update" aria-selected="false">Consulter/Modifier</a>
            </div>
        </div>
        <div class="col-9" id="doForm">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h3>Bienvenue dans le Back-Office pour gérer une compétition</h3>
                </div>
                <div class="tab-pane fade" id="v-pills-add" role="tabpanel" aria-labelledby="v-pills-add-tab">

                    <div class="row">

                        <div class="col-6">

                            <button class="btn btn-light text-light bg-dark bouton " id="discipline">Ajouter une
                                discipline
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton" id="event">Ajouter un évènement
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton " id="category">Ajouter une catégorie
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton" id="type">Ajouter un type</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton" id="athlet">Ajouter un athlète
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton " id="company">Ajouter une
                                entreprise
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton " id="team">Ajouter une équipe
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton" id="user">Ajouter un utilisateur
                            </button>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton" id="competition">Ajouter une
                                compétition
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-light text-light bg-dark bouton " id="round">Ajouter un tour</button>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="v-pills-update" role="tabpanel" aria-labelledby="v-pills-update-tab">
                    <div class="row">

                        <div class="col-6">

                            <a href="{{ path('admin_discipline') }}">
                                <button class="btn btn-light text-light bg-dark bouton " id="disciplines">Disciplines
                                </button>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('admin_events') }}">
                                <button class="btn btn-light text-light bg-dark bouton" id="events">Evènements</button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="{{ path('admin_categories') }}">
                                <button class="btn btn-light text-light bg-dark bouton " id="categories">Catégories
                                </button>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('admin_types') }}">
                                <button class="btn btn-light text-light bg-dark bouton" id="types">Types</button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="{{ path('admin_athlets') }}">
                                <button class="btn btn-light text-light bg-dark bouton" id="athlets">Athlètes</button>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('admin_companies') }}">
                                <button class="btn btn-light text-light bg-dark bouton " id="companies">Entreprises
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="{{ path('admin_teams') }}">
                                <button class="btn btn-light text-light bg-dark bouton " id="teams">Equipes</button>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('admin_users') }}">
                                <button class="btn btn-light text-light bg-dark bouton" id="users">Users</button>
                            </a>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-6">
                            <a href="{{ path('admin_competitions') }}">
                                <button class="btn btn-light text-light bg-dark bouton" id="competitions">Compétitions
                                </button>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('admin_rounds') }}">
                                <button class="btn btn-light text-light bg-dark bouton " id="rounds">Tours</button>
                            </a>
                        </div>
                    </div>


                    <div id="disciplineForm" class="col-6 form">
                        <h1>Ajouter une discipline</h1>
                        {{ form_start(disciplineForm) }}
                        {{ form_widget(disciplineForm) }}
                        <button type="submit" class="btn btn-secondary">Ajouter</button>
                        {{ form_end(disciplineForm) }}
                    </div>
                    <div id="categoryForm" class="col-6 form">
                        <h1>Ajouter une catégorie</h1>
                        {{ form_start(categoryForm) }}
                        {{ form_widget(categoryForm) }}
                        <button type="submit" class="btn btn-secondary">Ajouter</button>
                        {{ form_end(categoryForm) }}
                    </div>
                    <div id="typeForm" class="col-6 form">
                        <h1>Ajouter un type</h1>
                        {{ form_start(typeForm) }}
                        {{ form_widget(typeForm) }}
                        <button type="submit" class="btn btn-secondary">Ajouter</button>
                        {{ form_end(typeForm) }}
                    </div>
                    <div id="companyForm" class="col-6 form">
                        <h1>Ajouter une entreprise</h1>
                        {{ form_start(companyForm) }}
                        {{ form_widget(companyForm) }}
                        <button type="submit" class="btn btn-secondary">Ajouter</button>
                        {{ form_end(companyForm) }}
                    </div>
                    <div id="athletForm" class="col-6 form">
                        <h1>Ajouter des athlètes avec un fichier csv</h1>
                        {{ form_start(csvForm) }}
                        {{ form_widget(csvForm) }}
                        <button type="submit" class="btn btn-secondary">Ajouter</button>
                        {{ form_end(csvForm) }}
                        <h1>Ajouter un athlète</h1>
                        {{ form_start(athletForm) }}
                        {{ form_widget(athletForm) }}
                        <button type="submit" class="btn btn-secondary">Ajouter</button>
                        {{ form_end(athletForm) }}
                    </div>
                    <div id="teamForm" class="col-6 form">
                        <h1>Ajouter une équipe</h1>
                        {{ form_start(teamForm) }}
                        {{ form_widget(teamForm) }}
                        <button type="submit" class="btn btn-secondary">Ajouter</button>
                        {{ form_end(teamForm) }}
                    </div>
                    <div id="userForm" class="col-6 form">
                        <h1>Ajouter un utilisateur</h1>
                        {{ form_start(userForm) }}
                        {{ form_widget(userForm) }}
                        <input type="radio" name="role" value="user" checked>
                        <label for="user">Réferent</label><br>
                        <input type="radio" name="role" value="admin">
                        <label for="admin">Admin</label><br><br>
                        <button type="submit" class="btn btn-secondary">Ajouter</button>
                        {{ form_end(userForm) }}
                    </div>

                    <div id="competitionForm" class="col-6 form">
                        <h1>Ajouter une Compétition</h1>
                        {{ form_start(competitionForm) }}
                        {{ form_widget(competitionForm) }}
                        <button type="submit" class="btn btn-secondary">Ajouter</button>
                        {{ form_end(competitionForm) }}
                    </div>
                    <div id="eventForm" class="col-6 form">
                        <h1>Ajouter un évènement</h1>
                        {{ form_start(eventForm) }}
                        {{ form_widget(eventForm) }}
                        <button type="submit" class="btn btn-secondary">Ajouter</button>
                        {{ form_end(eventForm) }}
                    </div>
                    <div id="roundForm" class="col-6 form">
                        <h1>Ajouter un tour</h1>
                        {{ form_start(roundForm) }}
                        {{ form_widget(roundForm) }}
                        <button type="submit" class="btn btn-secondary">Ajouter</button>
                        {{ form_end(roundForm) }}
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
{% block javascripts %}
    <script>
        var disciplineForm = $('#disciplineForm');
        var categoryForm = $('#categoryForm');
        var typeForm = $('#typeForm');
        var companyForm = $('#companyForm');
        var athletForm = $('#athletForm');
        var teamForm = $('#teamForm');
        var userForm = $('#userForm');
        var competitionForm = $('#competitionForm');
        var eventForm = $('#eventForm');
        var roundForm = $('#roundForm');

        $(document).ready(function () {
            $('.form').hide();
            $('#v-pills-add-tab, #v-pills-home-tab, #v-pills-update-tab').on('click', function () {
                $('.form').hide();
                $('.table').hide();
                $('.bouton').show();
            })
            $('#discipline').on('click', function () {
                showDisciplineForm();
            })
            $('#category').on('click', function () {
                showCategoryForm();
            })
            $('#type').on('click', function () {
                showTypeForm();
            })
            $('#company').on('click', function () {
                showCompanyForm();
            })
            $('#athlet').on('click', function () {
                showAthletForm();
            })
            $('#team').on('click', function () {
                showTeamForm();
            })
            $('#user').on('click', function () {
                showUserForm();
            })
            $('#competition').on('click', function () {
                showCompetitionForm();
            })
            $('#event').on('click', function () {
                showEventForm();
            })
            $('#round').on('click', function () {
                showRoundForm();
            })
        })

        /**
         * functions show differents forms
         */
        function showDisciplineForm() {
            $('.bouton').hide();
            $('#doForm').append(disciplineForm.show());
        }

        function showCategoryForm() {
            $('.bouton').hide();
            $('#doForm').append(categoryForm.show());
        }

        function showTypeForm() {
            $('.bouton').hide();
            $('#doForm').append(typeForm.show());
        }

        function showCompanyForm() {
            $('.bouton').hide();
            $('#doForm').append(companyForm.show());
        }

        function showAthletForm() {
            $('.bouton').hide();
            $('#doForm').append(athletForm.show());
        }

        function showTeamForm() {
            $('.bouton').hide();
            $('#doForm').append(teamForm.show());
        }

        function showUserForm() {
            $('.bouton').hide();
            $('#doForm').append(userForm.show());
        }

        function showCompetitionForm() {
            $('.bouton').hide();
            $('#doForm').append(competitionForm.show());
        }

        function showEventForm() {
            $('.bouton').hide();
            $('#doForm').append(eventForm.show());
        }

        function showRoundForm() {
            $('.bouton').hide();
            $('#doForm').append(roundForm.show());
        }

    </script>
{% endblock %}