{% extends 'base.html.twig' %}

{% block title %}Liste des matchs | {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        {% if event.round.name is same as ("1/2 finale") %}
            <button class="btn btn-secondary mt-4" onclick="window.location='{{ path('admin_creation_finale_4_6', {"idEvent": event.id}) }}'">Créer Finale</button>
            <button class="btn btn-secondary mt-4" onclick="window.location='{{ path('admin_creation_3eme_place_4_6', {"idEvent":event.id}) }}'">Créer match 3ème place</button>
            {% if matchs|length is same as (4) %}
                <button class="btn btn-secondary mt-4" onclick="window.location='{{ path('admin_creation_5eme_place_8', {"idEvent": event.id}) }}'">Créer match 5ème place</button>
                <button class="btn btn-secondary mt-4" onclick="window.location='{{ path('admin_creation_7eme_place_8', {"idEvent":event.id}) }}'">Créer match 7ème place</button>
            {% endif %}
        {% endif %}
        {% if participants|length is same as (6, 7) %}
            <button class="btn btn-secondary mt-4" onclick="window.location='{{ path('admin_creation_5eme_place_6_7', {"idEvent": event.id}) }}'">Créer 5ème place</button>
        {% endif %}
        {% if event.round.name is same as ('Barrage') %}
            <button class="btn btn-secondary mt-4" onclick="window.location='{{ path('admin_creation_5eme_place_9', {"idEvent": event.id}) }}'">Créer 5ème place</button>
            <button class="btn btn-secondary mt-4" onclick="window.location='{{ path('admin_creation_demi_finale_9', {"idEvent": event.id}) }}'">Créer 1/2 finales</button>
        {% endif %}
        <h1>{{ event.round.name }}</h1>
        {% if event.poule %}
            {% for k in 1..nbrPoules|length %}

                    {% if k == 1 %}
                        <table class="table table-striped table-dark mb-4 mt-4">
                            <h2>Poule A</h2>
                            <thead>
                            <tr>
                                <th scope="col">Equipe 1</th>
                                <th scope="col">Equipe 2</th>
                                <th scope="col">Terrain</th>
                                <th scope="col">Heure</th>
                                <th scope="col">Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for match in matchs%}
                                {% if match.participation1.poule == 'A' %}
                                    <tr onclick="window.location='{{ path('event_detail_match', {"id": match.id}) }}'">
                                        <td>{{ match.participation1.participant.name }}</td>
                                        <td>{{ match.participation2.participant.name }}</td>
                                        <td>{{ match.field }}</td>
                                        <td>{{ match.heure|format_datetime("full", "short", locale='fr') }}</td>
                                        <td>{% if match.scoreTeam1 is not same as ("NULL") %}{{ match.scoreTeam1 }} - {{ match.scoreTeam2 }} {% endif %}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% elseif k == 2 %}
                        <table class="table table-striped table-dark mb-4 mt-4">
                            <h2>Poule B</h2>
                            <thead>
                            <tr>
                                <th scope="col">Equipe 1</th>
                                <th scope="col">Equipe 2</th>
                                <th scope="col">Terrain</th>
                                <th scope="col">Heure</th>
                                <th scope="col">Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for match in matchs %}
                                {% if match.participation1.poule == 'B' %}
                                    <tr onclick="window.location='{{ path('event_detail_match', {"id": match.id}) }}'">
                                        <td>{{ match.participation1.participant.name }}</td>
                                        <td>{{ match.participation2.participant.name }}</td>
                                        <td>{{ match.field }}</td>
                                        <td>{{ match.heure|format_datetime("full", "short", locale='fr') }}</td>
                                        <td>{% if match.scoreTeam1 is not same as ("NULL") %}{{ match.scoreTeam1 }} - {{ match.scoreTeam2 }} {% endif %}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% elseif k == 3 %}
                        <table class="table table-striped table-dark mb-4 mt-4">
                            <h2>Poule C</h2>
                            <thead>
                            <tr>
                                <th scope="col">Equipe 1</th>
                                <th scope="col">Equipe 2</th>
                                <th scope="col">Terrain</th>
                                <th scope="col">Heure</th>
                                <th scope="col">Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for match in matchs %}
                                {% if match.participation1.poule == 'C' %}
                                    <tr onclick="window.location='{{ path('event_detail_match', {"id": match.id}) }}'">
                                        <td>{{ match.participation1.participant.name }}</td>
                                        <td>{{ match.participation2.participant.name }}</td>
                                        <td>{{ match.field }}</td>
                                        <td>{{ match.heure|format_datetime("full", "short", locale='fr') }}</td>
                                        <td>{% if match.scoreTeam1 is not same as ("NULL") %}{{ match.scoreTeam1 }} - {{ match.scoreTeam2 }} {% endif %}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% elseif k == 4 %}
                        <table class="table table-striped table-dark mb-4 mt-4">
                            <h2>Poule D</h2>
                            <thead>
                            <tr>
                                <th scope="col">Equipe 1</th>
                                <th scope="col">Equipe 2</th>
                                <th scope="col">Terrain</th>
                                <th scope="col">Heure</th>
                                <th scope="col">Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for match in matchs %}
                                {% if match.participation1.poule == 'D' %}
                                    <tr onclick="window.location='{{ path('event_detail_match', {"id": match.id}) }}'">
                                        <td>{{ match.participation1.participant.name }}</td>
                                        <td>{{ match.participation2.participant.name }}</td>
                                        <td>{{ match.field }}</td>
                                        <td>{{ match.heure|format_datetime("full", "short", locale='fr') }}</td>
                                        <td>{% if match.scoreTeam1 is not same as ("NULL") %}{{ match.scoreTeam1 }} - {{ match.scoreTeam2 }} {% endif %}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% elseif k == 5 %}
                        <table class="table table-striped table-dark mb-4 mt-4">
                            <h2>Poule E</h2>
                            <thead>
                            <tr>
                                <th scope="col">Equipe 1</th>
                                <th scope="col">Equipe 2</th>
                                <th scope="col">Terrain</th>
                                <th scope="col">Heure</th>
                                <th scope="col">Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for match in matchs %}
                                {% if match.participation1.poule == 'E' %}
                                    <tr onclick="window.location='{{ path('event_detail_match', {"id": match.id}) }}'">
                                        <td>{{ match.participation1.participant.name }}</td>
                                        <td>{{ match.participation2.participant.name }}</td>
                                        <td>{{ match.field }}</td>
                                        <td>{{ match.heure|format_datetime("full", "short", locale='fr') }}</td>
                                        <td>{% if match.scoreTeam1 is not same as ("NULL") %}{{ match.scoreTeam1 }} - {{ match.scoreTeam2 }} {% endif %}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% elseif k == 6 %}
                        <table class="table table-striped table-dark mb-4 mt-4">
                            <h2>Poule F</h2>
                            <thead>
                            <tr>
                                <th scope="col">Equipe 1</th>
                                <th scope="col">Equipe 2</th>
                                <th scope="col">Terrain</th>
                                <th scope="col">Heure</th>
                                <th scope="col">Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for match in matchs %}
                                {% if match.participation1.poule == 'F' %}
                                    <tr onclick="window.location='{{ path('event_detail_match', {"id": match.id}) }}'">
                                        <td>{{ match.participation1.participant.name }}</td>
                                        <td>{{ match.participation2.participant.name }}</td>
                                        <td>{{ match.field }}</td>
                                        <td>{{ match.heure|format_datetime("full", "short", locale='fr') }}</td>
                                        <td>{% if match.scoreTeam1 is not same as ("NULL") %}{{ match.scoreTeam1 }} - {{ match.scoreTeam2 }} {% endif %}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

            {% endfor %}
        {% else %}
        {% if event.type.name is same as ("Tournoi individuel") %}
            <table class="table table-striped table-dark mb-4 mt-4">
                <thead>
                <tr>
                    <th scope="col">Equipe 1</th>
                    <th scope="col">Equipe 2</th>
                    <th scope="col">Terrain</th>
                    <th scope="col">Heure</th>
                    <th scope="col">Score</th>
                </tr>
                </thead>
                <tbody>
                {% for match in matchs %}
                    <tr onclick="window.location='{{ path('event_detail_match', {"id": match.id}) }}'">
                        <td>{{ match.participation1.participant.name }}</td>
                        <td>{{ match.participation2.participant.name }}</td>
                        <td>{{ match.field }}</td>
                        <td>{{ match.heure|format_datetime("full", "short", locale='fr') }}</td>
                        <td>{% if match.scoreTeam1 is not same as ("NULL") %}{{ match.scoreTeam1 }} - {{ match.scoreTeam2 }} {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if event.type.name is same as ("Tournoi par équipes") %}
            <table class="table table-striped table-dark mb-4 mt-4">
                <thead>
                <tr>
                    <th scope="col">Equipe 1</th>
                    <th scope="col">Equipe 2</th>
                    <th scope="col">Terrain</th>
                    <th scope="col">Heure</th>
                    <th scope="col">Score</th>
                </tr>
                </thead>
                <tbody>
                {% for match in matchs %}
                    <tr onclick="window.location='{{ path('event_detail_match', {"id": match.id}) }}'">
                        <td>{{ match.participation1.participant.name }}</td>
                        <td>{{ match.participation2.participant.name }}</td>
                        <td>{{ match.field }}</td>
                        <td>{{ match.heure|format_datetime("full", "short", locale='fr') }}</td>
                        <td>{% if match.scoreTeam1 is not same as ("NULL") %}{{ match.scoreTeam1 }} - {{ match.scoreTeam2 }} {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% endif %}
        <button class="btn btn-secondary mt-4 mb-4 align-items-center" onclick="window.location='{{ path('admin_edit_event', {"id":event.id}) }}'">Retour</button>
    </div>
{% endblock %}