<nav class="navbar navbar-expand-lg navbar-light text-dark" id="nav-menu">
    <a class="navbar-brand" href="{{ path('main') }}">SpeedResult</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('main') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pseudo
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Résultats</a>
                    <a class="dropdown-item" href="#">Mon profil</a>
                    <a class="dropdown-item" href="#">Planifier</a>
                    <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('login') }}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_add') }}">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_home') }}">Admin</a>
            </li>
        </ul>
    </div>
</nav>