<nav class="navbar navbar-expand-lg navbar-light text-dark" id="nav-menu">
    <a class="navbar-brand" href="{{ path('main') }}">FFSE  Résultats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('main') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% if app.user.discipline %}
                    <a class="dropdown-item" href="{{ path('event_events', {"idDiscipline": app.user.discipline.id, "idCompetition": app.user.competition.id, 'csrf':csrf_token('event_events_'~app.user.discipline.id~app.user.competition.id)}) }}">Résultats</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ path('modifier_profil', {"id": app.user.id, 'csrf': csrf_token('modifier_profil_'~app.user.id)}) }}">Mon profil</a>
                    <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('login') }}">Connexion</a>
            </li>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_home') }}">Admin</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>