{% extends 'base.html.twig' %}

{% block title %}Profil | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h2>Mon profil</h2>
        {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        {% if is_granted("ROLE_ADMIN") %}
            {% else %}
        <label for="discipline">Discipline</label><br>
        <input class="form-control mb-4" type="text" value="{{ user.discipline.name }}" readonly>
        {% endif %}
        <button type="submit" class="btn btn-secondary mb-8">Enregistrer</button>
        {{ form_end(userForm) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $("#user_password_first").keyup(function(){
            if($(this).val().length < 6){ // si la chaîne de caractères est inférieure à 5
                $(this).css({ // on rend le champ rouge
                    borderColor : 'red',
                    color : 'red'
                });
            }
            else{
                $(this).css({ // si tout est bon, on le rend vert
                    borderColor : 'green',
                    color : 'green'
                });
            }
        });
        $("#user_password_second").keyup(function(){
            if($(this).val() != $("#user_password_first").val()){ // si la confirmation est différente du mot de passe
                $(this).css({ // on rend le champ rouge
                    borderColor : 'red',
                    color : 'red'
                });
            }
            else{
                $(this).css({ // si tout est bon, on le rend vert
                    borderColor : 'green',
                    color : 'green'
                });
            }
        });
    </script>
{% endblock %}
