{% extends 'base.html.twig' %}

{% block title %}Modifier une catgéorie ! {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Modifier une catégorie</h1>
                <h3>{{ category.name }}</h3>
                {{ form_start(categoryForm) }}
                {{ form_widget(categoryForm) }}
                <button type="submit" id="btnSave">Valider</button>
                {{ form_end(categoryForm) }}
            </div>
        </div>
    </div>
{% endblock %}