{% extends 'base.html.twig' %}

{% block title %}Modifier une entreprise ! | {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Modifier une entreprise</h1>
                <h3>{{ company.name }}</h3>
                {{ form_start(companyForm) }}
                {{ form_widget(companyForm) }}
                <button type="submit" id="btnSave" class="btn btn-secondary">Valider</button>
                <button onclick="history.back()" class="btn btn-secondary">Retour</button>
                {{ form_end(companyForm) }}
            </div>
        </div>
    </div>
{% endblock %}