{% extends 'base.html.twig' %}

{% block title %}Modifier une équipe | {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Modifier</h1>
                <h3>{{ team.name }}</h3>
                {{ form_start(teamCreatedForm, {'action': path('admin_edit_team', {"id": team.id})}) }}
                {{ form_widget(teamCreatedForm) }}
                <button type="submit" id="btnSave" class="btn btn-secondary">Ajouter dans l'équipe</button>
                {{ form_end(teamCreatedForm) }}
            </div>
            <div class="col-6">
                <table class="table mb-0 mt-4">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom & prénom</th>
                        <th scope="col">Date de naissance</th>
                        <th scope="col">Référence</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for athlet  in athletsTeam %}

                        <tr>
                            <th scope="row">{{ i }}</th>
                            <td>{{ athlet.name }} {{ athlet.firstname }}</td>
                            <td>{{ athlet.dateBirth|date("d/m/Y") }}</td>
                            <td>{{ athlet.reference }}</td>
                            <td>

                                <a href="{{ path('admin_delete_athlet_team', {'idTeam': team.id, 'idAthlet': athlet.id}) }}">
                                    <button class="btn btn-secondary">Supprimer</button>
                                </a>

                            </td>
                        </tr>
                        {% set i = i+1 %}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div>
            {{ form_start(teamForm, {'action': path('admin_edit_team', {"id": team.id})}) }}
            {{ form_widget(teamForm) }}
            <button type="submit" id="btnSave" class="btn btn-secondary">Valider</button>
            {{ form_end(teamForm) }}
        </div>
        <a href="{{ path('admin_teams') }}"><button class="btn btn-secondary">Retour</button></a>
    </div>
{% endblock %}