{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur | {{ parent() }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Modifier un utilisateur</h1>
                <h3>{{ user.username }}</h3>
                {{ form_start(userForm) }}
                {{ form_widget(userForm) }}
                <input type="radio" name="role" value="user" checked>
                <label for="user">Référent</label><br>
                <input type="radio" name="role" value="admin">
                <label for="admin">Admin</label><br>
                <label for="discipline">Discipline</label><br>
                <select class="form-control mt-0 mb-4" name="discipline">
                    <option value="toutes">Toutes</option>
                    {% for discipline in disciplines %}
                        <option value="{{ discipline.id }}">{{ discipline.name }}</option>
                    {% endfor %}
                </select><br>
                <label for="competition">Competition</label><br>
                <select class="form-control mt-0 mb-4" name="competition">
                    <option value="toutes">Toutes</option>
                    {% for competition in competitions %}
                        <option value="{{ competition.id }}">{{ competition.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" id="btnSave" class="btn btn-secondary">Valider</button>
                <button onclick="history.back()" class="btn btn-secondary">Retour</button>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
{% endblock %}