{% extends 'base.html.twig' %}

{% block title %}Create meet !{% endblock %}
{% block body %}
    <div class="container">
        <h1>Create Meets</h1>
        <h2>{{ event.name }}</h2>
        <div class="row">
            <div class="col-6">
                <a href="{{ path('admin_create_planning_meets', {"idEvent": event.id})}}"><button>Create meets</button></a>
            </div>

            <div class="col-6">


                {% if event.type.name is same as ("Team Tournament") %}
                    <table class="table mb-0 mt-4">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Company</th>
                            <th scope="col">Country</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i = 1 %}
                        {% for participant  in participations %}

                            <tr>
                                <th scope="row">{{ i }}</th>
                                <td>{{ participant.teamName}} </td>
                                <td>{{ participant.companyName}} </td>
                                <td>
                                    <button>
                                        <a href="{{ path('admin_delete_participation_event', {'idEvent': event.id, 'idParticipation': participant.participantId}) }}">Delete</a>
                                    </button>
                                </td>
                            </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table class="table mb-0 mt-4">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Lastname & firstname</th>
                            <th scope="col">Company</th>
                            <th scope="col">Country</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i = 1 %}
                        {% for participant in participations %}
                            <tr>
                                <th scope="row">{{ i }}</th>
                                <td>{{ participant.athletName}} {{ participant.athletFirstname }}</td>
                                <td>{{ participant.athletCompany}} </td>
                                <td>{{ participant.athletCountry}} </td>
                                <td>
                                    <button>
                                        <a href="{{ path('admin_delete_participation_event', {'idEvent': event.id, 'idParticipation': participant.participantId}) }}">Delete</a>
                                    </button>
                                </td>
                            </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
{% endblock %}