{% extends 'base.html.twig' %}

{% block title %}Create meet !{% endblock %}
{% block body %}
    <div class="container">
        <h1>Create Meet</h1>
        <div class="row">
            <div class="col-6">
                <form>
                    <select name="event">
                        {% for event in events %}
                            <option value="{{ event.id }}">{{ event.name }}</option>
                        {% endfor %}
                    </select>
                </form>
                {{ form_start(meetForm) }}
                {{ form_widget(meetForm) }}
                <button type="submit">Save</button>
                {{ form_end(meetForm) }}
            </div>
        </div>
    </div>
{% endblock %}